p {
  font-family: sans-serif;
  text-align: center;
  color: rgb(255, 0, 193);
}

h1 {
  font-family: "Poetsen One", sans-serif;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

body {
  text-align: center;
}
